
.categories {
    margin-top: 2rem;
}

.categories h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 1.4rem;
}

.categories-container {
    display: flex;
    flex-direction: column;
}

.category {
    display: grid;
    grid-template-columns: 18% 80%;
    gap: 10px;
    margin-bottom: 20px;
}

.categories-container .category-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories-container .category-img img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.category-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.category-title h3 {
    font-weight: 500;
    font-size: 0.93rem;
    text-transform: uppercase;
}


@media (max-width: 530px) {
    .category {
        margin-bottom: 10px;
    }
    .categories-container .category-img img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
    }
    .category-title h3 {
        font-size: 14px;
    }
}